<form (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstName">First name</label>
      <input
        [(ngModel)]="student.firstName"
        name="firstName"
        type="text"
        class="form-control"
        id="firstName"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="lastName">Last name</label>
      <input
        [(ngModel)]="student.lastName"
        name="lastName"
        type="text"
        class="form-control"
        id="lastName"
      />
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="email">Email Address</label>
    <input
      [(ngModel)]="student.email"
      name="email"
      type="email"
      class="form-control"
      id="email"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="major">Major</label>
      <input
        [(ngModel)]="student.major"
        name="major"
        type="text"
        class="form-control"
        id="major"
      />
    </div>
    <div class="form-group col-md-4">
      <label for="avgGrade">Average Grade</label>
      <input
        [(ngModel)]="student.averageGrade"
        name="averageGrade"
        type="text"
        class="form-control"
        id="avgGrade"
      />
    </div>
  </div>
  <br />
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
